* {
    padding: 0;
    margin: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

h1 {
    color:white;
    margin: 30px;
}

h1.one {
    font-weight: normal;
    font-size: 50px;
}

h1.two {
    font-weight: 300;
    font-size: 42px;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 500;
}
a:hover {
    cursor: pointer;
}

h2 {
    color: gray;
    font-size: 21px;
    font-weight: normal;
}

p {
    text-align: right;
    color: gray;
    font-size: 21px;
}